<nav class="navbar">
    <a href="/">
    <img class="logo" src="img/logo.png" alt="Logo">
    </a>

    <div class="navItems">
        <a href="/"><h3 class="navLink">Home</h3></a>
        <a href="/login"><h3 class="navLink">Login</h3></a>
        <a href="/register"><h3 class="navLink">Register</h3></a>
    </div>
    
</nav>