<div class="postContainer">
<div class="newPostContainer">
    <h3>Contact Us</h3>

    <form action="/contact" method="POST">

        <div class="signupTable">
            <div class="signupCol">
                <div class="signupRow">
                    <textarea class="contactField" placeholder="Tell us your thoughts!" required id="inputContact"
                        type="email" name="email"></textarea>
                </div>
            </div>
        </div>

        <button type="submit" id="contactButton" name="contactButton" class="btn btn-purple cWhite">Submit</button>
    </form>
</div>
</div>