<form action="">
    <div class="newPostContainer">
        <h3>New Post</h3>
        <textarea required id="newPostText" onblur="resetPostText();" placeholder="Write new post..." name="newPost" id="newPost"></textarea>
        <button type="submit" id="addPostButton" class="btn btn-purple cWhite">Post</button>
    </div>
</form>