
    <div class="newPostContainer">
        <h3>New Post</h3>
        <textarea id="newPostText" placeholder="Write new post..." name="newPost" id="newPost"></textarea>
        <button type="submit" id="addPostButton" class="btn btn-purple cWhite">Post</button>
    </div>