<%- include("./components/header.ejs", { title: "Register" }) -%>
<%- include("./components/navbar.ejs") -%>

<body>
    <main class="main">
        <%- include("./components/registerForm.ejs") -%>
    </main>
</body>

<%- include("./components/footer.ejs") -%>