<div class="ccontainer">
        <div class="stickyContainer">
            <header class="sticky">
                <img onclick="loadPage('/')" class="navLogo link" src="./img/logo2.png" alt="">
                
                <div class="input-group">
                    <input type="search" placeholder="Search..." name="searchSiteMain" id="searchSiteMain">
                </div>
    
                <div class="navItems">
                    <button onclick="loadPage('/login')" class="btn btn-dark">Login</button>
                    <button onclick="loadPage('/sign-up')" class="btn btn-purple">Sign Up</button>
                    <input type="search" placeholder="Search..." name="searchSiteRight" id="searchSiteRight">
                    <h1 id="searchIconRight">🔎</h1>
                </div>
            </header>
    
            <nav class="sticky">
                <ul>
                    <li><a href="./" class="navLink link">Home</a></li>
                    <li><a href="./about-us" class="navLink link">About Us</a></li>
                    <li><a href="./contact" class="navLink link">Contact</a></li>
                </ul>
            </nav>
        </div>