 <!-- Sidebar -->
      <div class="row g-0">
        <div class="sidebar col col-3">
            <div class="sidebar">
                <div class="myProfileContainer">

                    <div class="myProfileNamePic">
                        <h3>Welcome to Setechi!</h3>
                        <h3 class="link myProfileUsername"></h3>
                    </div>

                    <table class="table table-dark">
                        
                    </table>
                </div>
            </div>
        </div>
    </div>