.banner {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
}

.robotCheck{
  margin: auto;
  display: flex;
  justify-content: center;
  padding-right:10px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-radius: 10px;
}

th {
  background-color: rgba(255, 255, 255, 0.429);
}

.agentBubble{
  margin: auto;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.agentName{
  margin: auto;
  font-size: x-large;
}

.feedback{
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.feedbackInput{
  width:80%;
  height:100px;
}

.title {
  font-size: xx-large;
  padding: 10px;
  padding-top: 10px;
  text-align: center;
}

.container,
.navbar {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 0;
}

.inputTypes {
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.inputBoxes {
  margin-bottom: 20px;
  text-align: center;
}

.bi-envelope-fill,
.bi-telephone-fill{
  color: white;
  margin: auto;
  margin-bottom:10px;
  margin-top: 8px;
  margin-right:5px;
}

.registerForms {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.registerText,
.inputBox {
  margin-bottom: 10px;
}

.form {
  align-items: center;
}

button {
  margin-top: 10px;
}

.navbar {
  padding: 10px;
}
.container {
  background-color: rgba(0, 0, 0, 0.099);
  border-color: black;
  margin-top: 0;
  flex-grow: 1;
  margin-bottom: 0;
}

.inner-container {
  overflow-x: auto;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.271);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.bubble2 {
  background-color: rgba(255, 255, 255, 0.271);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

select{
  margin: auto;
  margin-bottom: -10px;
}

.underline-hover {
  text-decoration: none;
}

.underline-hover:hover {
  text-decoration: underline;
}

hr{
    width:60%;
    margin:auto;
    margin-bottom:10px;
}

body {
  background-image: url("https://media.gettyimages.com/id/663261182/photo/northern-lights-in-mount-kirkjufell-iceland-with-a-man-passing-by.jpg?s=612x612&w=0&k=20&c=HnhkVPYRXShUWJEcZe3KEBNrOo51ImxPccjUg34MXt4=");
  width: 100%;
  height: 100%;
  background-size: cover;
  backdrop-filter: blur(10px);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  color: white;
  margin-top: auto;
  text-align: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}

h1,
a,
h2 {
  color: rgb(0, 0, 0);
}

.navbar,
footer {
  background-color: rgb(46, 46, 46);
}

@media only screen and (min-width: 767px) {
  .container {
    width: 767px;
  }
}

@media only screen and (max-width: 767px) {
  .inner-container,.container,.bubble {
    width: 100%;
  }
}

