/* Created by Skye Waddell
May 2024 | OOSD - Web Development | Travel Project 
CRPG-210-A */

.banner {
  width: 100%;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 70px;
}

.robotCheck {
  margin: auto;
  display: flex;
  justify-content: center;
  padding-right: 10px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px;
}

.button {
  margin-top: 10px;
  width: 5em;
}

.termsText {
  padding-left: 5px;
}

.agentBubble {
  margin: auto;
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
}

.agentName {
  margin: auto;
  font-size: x-large;
}

.meter-buttons {
  margin-top: -20px;
}

.feedback {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.feedbackInput {
  width: 80%;
  height: 100px;
  margin-top: 15px;
}

.title {
  font-size: xx-large;
  padding: 10px;
  padding-top: 10px;
  text-align: center;
}

.container,
.navbar {
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 0;
}

.inputTypes {
  margin: auto;
  padding-top: 20px;
  text-align: center;
}

.inputBoxes {
  margin-bottom: 20px;
  text-align: center;
}

.bi-envelope-fill,
.bi-telephone-fill {
  color: rgb(60, 60, 60);
  margin: auto;
  margin-bottom: 10px;
  margin-top: 8px;
  margin-right: 5px;
}

.registerForms {
  align-items: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}

.registerLabel {
  display: inline-block;
  width: 100px;
  text-align: left;
}

.inputBox,
select {
  width: 150px;
}

.registerText,
.inputBox {
  margin-bottom: 2px;
}

.form {
  align-items: center;
}

button {
  margin-top: 10px;
}

pre {
  background-color: rgba(0, 0, 0, 0.762);
  width: 20em;
  justify-content: center;
  margin: auto;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  color: rgb(34, 188, 34);
}

.navbar {
  padding: 10px;
}

.container {
  background-color: rgba(0, 0, 0, 0.099);
  border-color: black;
  margin-top: 0;
  flex-grow: 1;
  margin-bottom: 0;
}

.inner-container {
  overflow-x: auto;
}

.bubble {
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
}

.bubble2 {
  background-color: rgba(255, 255, 255, 0.916);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.outter-container {
  background-color: rgba(255, 255, 255, 0.555);
  border-radius: 10px;
  margin: 10px;
}

.imageArrayPictures {
  width: 100%;
}

.bubble3 {
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 10px;
  height: 6.7em;
  padding: 2px;
  width: 100%;
  height: 7em;
  transition-duration: 0.5s;
}

.outter-bubble {
  background-color: rgba(255, 255, 255, 0.582);
  border-radius: 10px;
  padding: 2px;
  width: 100%;
  transition-duration: 0.5s;
}

.imageArrayHeader {
  margin-top: 10px;
}

.imageArrayTable {
  margin: 0;
  margin-top: -20px;
  padding: 0;
  justify-content: center;
  align-items: center;
}

.imageArrayPictures {
  border-radius: 10px;
  width: 10em;
  height: 7em;
  display: block;
  margin: auto;
  transition-duration: 0.5s;
}

.imageArrayPictures:hover,
.bubble3:hover {
  transform: scale(1.05);
}

.imageArrayPictures:hover {
  cursor: pointer;
}

.imageArrayTable th,
.imageArrayTable td {
  background-color: rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  vertical-align: top;
}

.imageArrayTable td.text {
  width: 80%;
}

.image-text-title {
  padding: 10px;
  font-size: large;
  margin-bottom: -15px;
  text-align: left;
  text-decoration: underline;
  color: rgb(0, 0, 137);
}

.image-text-title:hover {
  cursor: pointer;
  color: rgb(37, 51, 175);
}

.image-text-description {
  font-size: small;
  text-align: left;
  padding: 10px;
}

select {
  margin: auto;
  margin-bottom: -20px;
}

.underline-hover {
  text-decoration: none;
}

.underline-hover:hover {
  text-decoration: underline;
}

#canvasBallWindow {
  background-color: grey;
  width: 96%;
  border-radius: 10px;
  margin: 10px auto;
}

hr {
  width: 60%;
  margin: auto;
  margin-bottom: 10px;
}

body {
  background-image: url("https://media.gettyimages.com/id/663261182/photo/northern-lights-in-mount-kirkjufell-iceland-with-a-man-passing-by.jpg?s=612x612&w=0&k=20&c=HnhkVPYRXShUWJEcZe3KEBNrOo51ImxPccjUg34MXt4=");
  width: 100%;
  height: 100%;
  background-size: cover;
  backdrop-filter: blur(10px);
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  color: white;
  margin-top: auto;
  text-align: center;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}

h1,
a,
h2 {
  color: rgb(0, 0, 0);
}

.navbar,
footer {
  background-color: rgb(46, 46, 46);
}

.strongPassword {
  font-size: medium;
  color: rgb(54, 54, 54);
  background-color: rgba(128, 128, 128, 0.527);
  padding: 10px;
  border-radius: 5px;
}

@media only screen and (min-width: 767px) {
  .container {
    width: 767px;
  }
}

@media only screen and (max-width: 767px) {
  .item-container {
    align-items: center;
    flex-direction: column;
  }

  .item-container,
  .inner-container,
  .container,
  .bubble {
    width: 100%;
  }
}