<%- include("./components/header.ejs", { title: "404" }) -%>
<%- include("./components/navbar.ejs") -%>

<body>
    <main class="main">
        <%- include("./components/thankyouForm.ejs") -%>
    </main>
</body>

<%- include("./components/footer.ejs") -%>