<h1>Register</h1>

<section class="container">

    <form action="/register" method="POST">

        <div class="inputSection">
            <label class="inputLabel" for="email">Email</label>
            <input required placeholder="Email" type="email" name="email" id="email" class="inputBox">
        </div>

        <div class="inputSection">
            <label class="inputLabel" for="username">Username</label>
            <input required placeholder="Username" type="text" name="username" id="username" class="inputBox">
        </div>

        <div class="inputSection">
            <h3 id="availableText"></h3>
        </div>

        <div class="inputSection">
            <button onclick="focusUsername()" type="button" class="btn btn-primary btn-purple">Check Username Availablity</button>
        </div>
        
        <div class="inputSection">
            <label class="inputLabel" for="password1">Password</label>
            <input required placeholder="Password" type="password" name="password1" id="password1" class="inputBox">
        </div>

        <div class="inputSection">
            <label class="inputLabel" for="password2">Confirm Password</label>
            <input required placeholder="Confirm Password" type="password" name="password2" id="password2"
                class="inputBox">
        </div>

        <div class="inputSection">
            <button id="registerForm" type="reset" class="btn btn-primary btn-purple">Reset</button>
            <button id="registerForm" type="submit" class="btn btn-primary btn-purple">Sign Up</button>
        </div>

    </form>

</section>