<div class="postContainer">
<div class="newPostContainer">
    <h3>Login</h3>

    <form action="/login" method="POST">

        <div class="signupTable">
            <div class="signupCol">
                <div class="signupRow">
                    <label class="inputLabel" for="inputEmail">Email</label>
                    <input class="inputField" placeholder="Email" required id="inputEmail"
                        type="email" name="email">
                </div>
                <div class="signupRow">
                    <label class="inputLabel" for="inputPassword1">Password</label>
                    <input class="inputField" placeholder="Password" required id="inputPassword1"
                        type="password" name="password">
                </div>
            </div>
        </div>

        <button type="submit" id="loginButton" name="loginButton" class="btn btn-purple cWhite">Login</button>
    </form>
</div>
</div>